.main-bg-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.app-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .app-container {
    width: 800px;
  }
}
.app-heading {
  font-family: 'Bree serif';
  color: #1e293b;
  font-size: 32px;
}
.search-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1e293b;
  border-radius: 3px;
  margin-top: 15px;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .search-box-container {
    width: 55%;
  }
}
.search-input {
  font-family: 'Roboto';
  padding: 8px 0;
  padding-left: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}
.search-icon {
  height: 22px;
  width: 22px;
  margin-right: 3px;
}
.tabs-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
}
.apps-list {
  /* border: 1px solid #1e293b; */
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
